* {
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    background-color: greenyellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
  text-align: center;
  font-size: 60px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:  greenyellow;
  color: black;
  font-size: 30px;
  line-height: 1.5;
}




